/* navbar */
#header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#navbar li {
  margin: 7px;
  padding: 9px 2px;
}

#navbar li a {
  font-size: 1.2rem;
  margin: 3px 3px;
  padding: 3px 3px;
}

/* middle section */

.middle {
  padding-top: 0px;
  align-items: center;
  justify-content: center;
}

.conainer {
  height: 475px;
}

.conainer h1 {
  font-size: 2rem;
}

.conainer p {
  font-size: 1.2rem;
}

.conainer button {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 120px;
  height: 40px;
  font-size: 1rem;
}



/* our service   */
#services {
  flex-direction: column;
}

#services_container {
  padding-bottom: 0px;
}

.box {
  width: 96%;
  margin: 2px;
  margin-bottom: 35px;
}

/* our client */

.client img {
  height: 10vh;
  padding: 5px 10px;
}


/* media query */

@media (max-width: 500px) {
  .client img {
    height: 5.5vh;
  }
  #navbar li a {
    font-size: 1rem;
    margin: 3px 3px;
    padding: 3px 3px;
  }

  .conainer {
    height: 550px;
  }

  .conainer h1 {
    font-size: 1.6rem;
  }

  .conainer p {
    font-size: 1.1rem;
  }

  .box {
    width: 94%;
  }
}
