 @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.container{
    display: flex;
    font-size: 1.3rem;
    background: linear-gradient(to right,#041308,#0b3317);
    justify-content: space-evenly;
    align-items: center;
  
}
/* text and heading */
.left{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
.left h1{
    color: white;
    text-align: center;
}

.left p{
    color: #ddd;
    text-align: center;

}

/* image galary */
.right{
    width: 55vw;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 120px;
    
   
}

.box{
    /* width: 100px; */
    background-size: cover;
    background-position: top;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
}

.box:hover{
    background-color: #999;
    background-position: bottom;
}

.col2{
    grid-column: span 2;
}
    
.row2{
    grid-row: span 2;

}

@media screen and (max-width:1024px){
    .container{
        font-size:1rem ;
    }

}

@media screen and (max-width:768px){
    .container{
       flex-direction: column;
    }
    .left{
        width: 80%;
        height: 50vh;
    }
    .right{
        width: 80vw;
    }
}

@media screen and (max-width:640px){
    
    .left{
        height: 40vh;
    }
    .right{
        display: flex;
        width: 80vw;
        flex-direction: column;
        gap: 20px;
    }
    .box{
        height: 30vh;
    }
}
